$main-text-color: #757575;
$title-text-color: #212121;
$header-border-color:#ececec;

$primary-bg-color: #ffffff;
$accent-color: #2196f3;
$elements-bg-color: #f5f4fa;
$secondary-bg-color: #eeeeee;
$footer-bg-color: #2f303a;
$button-bg-color: #f5f4fa;
$logo-color-header: #000000;
$contacts-footer: rgba(255, 255, 255, 0.6);
$icons-social: #afb1b8;
$icons-social-secondary: #ffffff;
$icons-social-bg: rgba(255, 255, 255, 0.1);

$project-item-gap: 30px;

$anim-dur: 250ms;
$anim-function: cubic-bezier(0.4, 0, 0.2, 1);